@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    color: #212121;
    font-family: Roboto, Arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
p,
span {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.phoneBook {
    height: 100vh;
}

.bgLight {
    background: #ffffff;
    color: #3c3c3c;
}

.bgDark {
    background: #3c3c3c;
    color: #ffffff;
}

.themeSelector {
    padding: 30px;
    cursor: pointer;
}

.themeSelector .label {
    top: -10px;
    position: relative;
    padding: 0px 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    transition: 0.5s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.5s;
}

input:checked+.slider {
    background-color: #ec7b10;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ec7b10;
}

input:checked+.slider:before {
    transform: translateX(25px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.formBtnLight {
    background: #6e7078;
}

.formBtnLight:hover:not(:active) {
    background: #4d4d50;
}

.formBtnLight:active {
    background: #202020;
}

.formBtnDark {
    background: #ec7b10;
}

.formBtnDark:hover:not(:active) {
    background: #ec7b10;
}

.formBtnDark:active {
    background: #ec7b10;
}